.mySwiper {
  direction: rtl;
  width: 100%;
  height: 100%;
}

.newSwiper{
  width: 98vw;
  height: 20rem;
}

.SwiperSlide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SwiperSlide .ImageCards {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  color: #fff;
}

.seeMore {
  background: #fff;
  border-radius: 5px;
  .link {
    color: black;
  }
}

/* Peshnahad Components */


.Swiper {
  border-radius: 15px;
  width: 100%;
  height: 100%;

}

.GridSwiper {

  padding: 0 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* undel line effect */

.underLineEff{
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underLineEff::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ef394e;
  transition: width 0.25s ease-out;
}

.underLineEff:hover::before{
  width: 100%;
  left: 0;
  right: auto;
}