.mySwiper {
  direction: rtl;
  width: 90vw;
  height: 100%;
}

.SwiperSlide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SwiperSlide .ImageCards {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  color: #fff;
}

.seeMore {
  background: #fff;
  border-radius: 5px;
  .link {
    color: black;
  }
}

/* Peshnahad Components */


.Swiper {
  border-radius: 15px;
  width: 100%;
  height: 100%;

}

.GridSwiper {

  padding: 0 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
}
